In [9]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from googletrans import Translator

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('unigram_freq.csv')

# Create a list of stop words
stop_words = set(stopwords.words('english'))

# Remove stop words from the DataFrame
df = df[~df['word'].isin(stop_words)]

# Sort the DataFrame by count in descending order
df = df.sort_values(by='count', ascending=False)

# Take the 50 most frequent words
df = df.head(50)

In [10]:
df

            word       count
26           new  1551258643
32          home  1276852170
34            us  1229112622
37          page  1082121730
40        search  1024093118
41          free  1014107316
44           one   993536631
48   information   932594387
49          time   908705570
51          site   844310242
54           may   827822032
58          news   755424983
60           use   719980257
63           see   681410380
68       contact   645824184
70      business   637134177
72           web   619571575
73          also   616829742
75          help   611054034
76           get   605984508
77            pm   604577485
78          view   602279334
79        online   601317059
80             c   596623239
81             e   593086170
82         first   578161543
85         would   572644147
90      services   562206804
93         click   536746424
95          like   520585287
96       service   519537222
97             x   508609523
99          find   502043038
100        price   501651226
101         date   488967374
102         back   488024109
103          top   484213771
104       people   480303376
106         list   472590641
107         name   464532702
110        state   453104133
111         year   451092583
112          day   446236148
114        email   443949646
115          two   441398439
116       health   440416431
117            n   437961375
118        world   431934249
120         next   425903347
121         used   421438139

In [11]:

# Create a Translator object
translator = Translator()

# Translate the words to Bangla
df['Bangla'] = df['word'].apply(lambda x: translator.translate(x, dest='bn').text)

# Rename the "word" column to "English"
df = df.rename(columns={'word': 'English'})

# Reorder the columns
df = df[['English', 'Bangla', 'count']]

         English      Bangla       count
26           new        নতুন  1551258643
32          home       বাড়ি  1276852170
34            us      আমাদের  1229112622
37          page      পৃষ্ঠা  1082121730
40        search   অনুসন্ধান  1024093118
41          free  বিনামূল্যে  1014107316
44           one          এক   993536631
48   information        তথ্য   932594387
49          time        সময়   908705570
51          site        সাইট   844310242
54           may    হতে পারে   827822032
58          news         খবর   755424983
60           use     ব্যবহার   719980257
63           see        দেখা   681410380
68       contact     যোগাযোগ   645824184
70      business      ব্যবসা   637134177
72           web       ওয়েব   619571575
73          also     এছাড়াও   616829742
75          help     সাহায্য   611054034
76           get      পাওয়া   605984508
77            pm          pm   604577485
78          view       দেখুন   602279334
79        online      অনলাইন   601317059
80             c           গ   596623239
81             e        এইটা   593086170
82         first       প্রথম   578161543
85         would         হবে   572644147
90      services        সেবা   562206804
93         click       ক্লিক   536746424
95          like       পছন্দ   520585287
96       service        সেবা   519537222
97             x        এক্স   508609523
99          find   অনুসন্ধান   502043038
100        price       মূল্য   501651226
101         date       তারিখ   488967374
102         back       পেছনে   488024109
103          top       শীর্ষ   484213771
104       people       মানুষ   480303376
106         list      তালিকা   472590641
107         name         নাম   464532702
110        state      অবস্থা   453104133
111         year         বছর   451092583
112          day         দিন   446236148
114        email       ইমেইল   443949646
115          two         দুই   441398439
116       health   স্বাস্থ্য   440416431
117            n           n   437961375
118        world       বিশ্ব   431934249
120         next     পরবর্তী   425903347
121         used     ব্যবহৃত   421438139

In [12]:
df.shape

(50, 3)

In [13]:
df = df.drop(df[df['English'] == df['Bangla']].index)

In [14]:
df.shape

(48, 3)

note: "pm" , "n" egula bad disi

In [15]:
df.to_csv('english_bangla.csv', index=False)

In [16]:
df.head(10)

        English      Bangla       count
26          new        নতুন  1551258643
32         home       বাড়ি  1276852170
34           us      আমাদের  1229112622
37         page      পৃষ্ঠা  1082121730
40       search   অনুসন্ধান  1024093118
41         free  বিনামূল্যে  1014107316
44          one          এক   993536631
48  information        তথ্য   932594387
49         time        সময়   908705570
51         site        সাইট   844310242

# DONE

In [1]:
import pandas as pd
from nltk.corpus import stopwords

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('unigram_freq.csv')

In [2]:
df.shape

(333333, 2)

In [4]:
# Create a list of stop words
stop_words = set(stopwords.words('english'))

# Remove stop words and unnecessary words
df = df[~df['word'].isin(stop_words)]

In [5]:
df.shape

(333183, 2)

In [6]:

# Show the first 10 rows of the cleaned DataFrame
print(df.head(10))

           word       count
26          new  1551258643
32         home  1276852170
34           us  1229112622
37         page  1082121730
40       search  1024093118
41         free  1014107316
44          one   993536631
48  information   932594387
49         time   908705570
51         site   844310242

In [7]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('unigram_freq.csv')

# Create a list of stop words
stop_words = set(stopwords.words('english'))

# Remove stop words from the DataFrame
df = df[~df['word'].isin(stop_words)]

# Sort the DataFrame by count in descending order
df = df.sort_values(by='count', ascending=False)

# Take the 50 most frequent words
df = df.head(50)

# Show the final DataFrame
print(df)

            word       count
26           new  1551258643
32          home  1276852170
34            us  1229112622
37          page  1082121730
40        search  1024093118
41          free  1014107316
44           one   993536631
48   information   932594387
49          time   908705570
51          site   844310242
54           may   827822032
58          news   755424983
60           use   719980257
63           see   681410380
68       contact   645824184
70      business   637134177
72           web   619571575
73          also   616829742
75          help   611054034
76           get   605984508
77            pm   604577485
78          view   602279334
79        online   601317059
80             c   596623239
81             e   593086170
82         first   578161543
85         would   572644147
90      services   562206804
93         click   536746424
95          like   520585287
96       service   519537222
97             x   508609523
99          find   502043038
100        price   501651226
101         date   488967374
102         back   488024109
103          top   484213771
104       people   480303376
106         list   472590641
107         name   464532702
110        state   453104133
111         year   451092583
112          day   446236148
114        email   443949646
115          two   441398439
116       health   440416431
117            n   437961375
118        world   431934249
120         next   425903347
121         used   421438139